.App {
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  width: 68vw;
  text-align: center;
  background-image: url(../images/bgc1.jpg);
}

@media (orientation: portrait) {
  .App {
    width: 100vw;
  }
}

.App h1 {
  margin: 0;
}

input {
  margin: 5px 0;
}

.ui {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 auto;
  min-height: 100vh;
  width: 60%;
}

@media (orientation: portrait) {
  .ui {
    width: 90%;
  }
}

button {
  margin: 10px 10px;
  line-height: 25px;
  min-width: 80px;
  text-transform: uppercase;
  font-weight: 550;
  border-radius: 10px;
  border: 2px solid black;
  cursor: pointer;
  transition: 1.5s;
}
