nav.mNav {
  position: fixed;
  top: 10px;
  right: 10vh;
  height: 10vh;
  width: 10vh;
  border-radius: 10vh;
}

button.burger {
  position: fixed;
  right: 16vw;
  width: 8vh;
  height: 8vh;
  border: none;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(255,255,255,0.0);
  transition: 0.3s;
  z-index: 100;
}

button.openNav {
  background-image: url(../images/menuIcon.png); 
}

button.closeNav {
  background-image: url(../images/close.png); 
}

div.showMenu {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  min-height: 100px;
  width: 68vw;
  background-color:burlywood;
  z-index: 0;
}